<!DOCTYPE html>
<html>
  <head>
    <title>Societhy</title>
    <link href="./app.css" rel='stylesheet' type='text/css'>
    <script src="./app.js"></script>
  </head>

  <header class="dapp-header">
    <h1>Create Organisation</h1>
    <h2>TemplatedSmartContractBuilder</h2>
  </header>

  <div class="dapp-flex-content">

    <div>
      <h3>Organisation Name :</h3><input>name</input>
      <h3>Description :</h3><input size="5">description</input>
    </div>
    <div>
      <br><input id="trydeploy" type="checkbox">Public</input>
      <br><input type="value">TimeLimit</input>
      <br><input type="checkbox">Free</input>
    </div>

    <!-- actionbar -->
    <aside class="dapp-actionbar">

    </aside>

  </div>
  <div>
    <button onClick='tryDeploy();'>Deployer</button>
  </div>

  <footer class="dapp-footer" id="fID">
  </footer>
</html>
