<div id="mainContainer" class="container">
    <div class="container">
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
                <li data-target="#myCarousel" data-slide-to="3"></li>
            </ol>
            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <div class="big_img">
                        <img src="/images/img1.jpg" alt="" />
                        <img src="/images/img2.jpg" alt="" />
                        <img src="/images/img3.jpg" alt="" />
                    </div>
                </div>

                <div class="item">
                    <div class="big_img">
                        <img src="/images/img1.jpg" alt="" />
                        <img src="/images/img2.jpg" alt="" />
                        <img src="/images/img3.jpg" alt="" />
                    </div>
                </div>

                <div class="item">
                    <div class="big_img">
                        <img src="/images/img1.jpg" alt="" />
                        <img src="/images/img2.jpg" alt="" />
                        <img src="/images/img3.jpg" alt="" />
                    </div>
                </div>

                <div class="item">
                    <div class="big_img">
                        <img src="/images/img1.jpg" alt="" />
                        <img src="/images/img2.jpg" alt="" />
                        <img src="/images/img3.jpg" alt="" />
                    </div>
                </div>
            </div>

            <!-- Left and right controls -->
            <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
    <!-- /.row -->
</div>
<div class="col-md-8">
    <div class="box box-default">
        <div class="box-header with-border">
            <div class="box-body table-responsive no-padding">
                <h3 class="box-title">Liste des organisations</h3>
                <table class="table table-hover">
                    <tbody>
                    <tr>
                        <th>Nom</th>
                        <th>Addresse</th>
                    </tr>
                    {{#each orgas}}
                        <tr>
                            <td><a href="/organisation/{{address}}"> {{name}} </a></td>
                            <td><a href="/organisation/{{address}}">{{address}}</a></td>
                        </tr>
                    {{/each}}

                    </tbody>
                </table>
            </div>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
            <div class="row">



                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.box-body -->


    </div>
</div>
<div class="col-md-4">
    <div class="box box-default">
        <div class="box-header with-border">
            <h3 class="box-title">Browser Usage</h3>

            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
            </div>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
            <div class="row">



                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.box-body -->


    </div>
</div>
